@inherits LayoutComponentBase
<div class="page">
    @* Meijer Blue Header Layout *@
    <div class="row text-white p-3 mb-4 rounded shadow-sm" style="background-color: #0c60a5;">
		<div class="col-12 text-center">
			<img src="~/meijerlogo-primary-fullcolor.svg" />
            <h2 class="m-0 font-weight-bold">Product Web App</h2>
        </div>
    </div>
    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

